.activitySection {
  background-color: #fff;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.sectionTitle {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: normal;
}

.emptyState {
  display: flex;
  height: 80%;
  align-items: center;
  justify-content: center;
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 20px;
}